:root {
    --bg-main: #141844;
    --card-bg: #1B1B3A;
    --primary: #6C63FF;
    --secondary: #FFB400;
    --accent: #00BFA6;
    --bg-secondary: #221E4D;
    --outline: #2F2F54;
    --hero-circle: #F5D062;

    --text-light: #EDEDED;
    --text-dark: #1A1A1A;
}

.btn-outline-light:hover {
    background-color: var(--secondary);
    color: var(--bg-main);
    /* atau var(--text-dark) */
    border-color: var(--secondary);
}

input::placeholder {
    color: #ccc !important;
    /* abu-abu muda */
    opacity: 1;
    /* pastikan terlihat */
}

.active-link {
    color: var(--secondary) !important;
    border-bottom: 2px solid var(--secondary);
}